<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('user_name')%>:</strong>
  <%= @user.name %>
</p>

<p>
  <strong><%= t('user_mail')%>:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
