<p><%= date %></p>

<% history = @goal.histories.find_by date: date %>

<% if history.present? and not history.response.nil? %>

  <%= history.response %>

  <% if history.annotation.present? %>
    true annotation
  <% end %>

<% else %>

  <%= form_for [@goal_history.goal, @goal_history], :html => {:id => "form_#{date}" }, :remote => true do |f| %>
    <%= f.hidden_field :date, :value => date %>
    <%= f.radio_button :response, true, :onclick => "submitForm('#{date}');"%>
    <%= f.label "true" %>
    <%= f.radio_button :response, false, :onclick => "submitForm('#{date}');"%>
    <%= f.label "false" %>
  <% end %>

<% end %>


