<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('goal_name')%>:</strong>
  <%= @goal.name %>
</p>

<p>
  <strong><%= t('goal_description')%>:</strong>
  <%= @goal.description %>
</p>

<%= month_calendar do |date| %>
  <%= render 'history', :date => date %>
<% end %>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
